DEVHUB_ALIAS=mcp-lib-devhub
ORG_ALIAS=sf-mcp-lib-scratch
TARGET_ORG=sf-mcp-lib-scratch
DURATION_DAYS=7

PACKAGE_NAME=SalesforceMcpLib
VERSION_NAME=v0.1.0
VERSION_DESC=Generic Salesforce MCP library baseline

SKIP_FRESH_ORG=false
